body {
    --background-primary: #000000 !important;
    --background-primary-alt: #000000 !important;
    --background-secondary: #000000 !important;
    --background-secondary-alt: #000000 !important;
    --background-modifier-border: #ffffff !important;
    --text-normal: #ffffff !important;
    --text-muted: #aaaaaa !important;
    --text-faint: #555555 !important;
    --text-accent: #ffffff !important;
    --text-accent-hover: #cccccc !important;
    --interactive-accent: #ffffff !important;
    --font-text: 'Terminess Nerd Font', 'TerminessTTF Nerd Font', monospace !important;
    --font-monospace: 'Terminess Nerd Font', 'TerminessTTF Nerd Font', monospace !important;
    --font-interface: 'Terminess Nerd Font', 'TerminessTTF Nerd Font', monospace !important;
}
